@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
   background-color: hsl(212, 45%, 89%);
   font-family: 'Outfit', sans-serif;
   display: flex;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

main {
    max-width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
}

img {
    border-radius: 20px;
    width: 100%;
}

h1, p {
    text-align: center;
    margin: 10px 10px 0 10px;

}

h1 {
    color: hsl(218, 44%, 22%);
    letter-spacing: 0.3px;
    font-size: 1.5rem;
}

p {
    color: hsl(220, 15%, 55%);
    margin-bottom: 10px;
}

footer { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 10px;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}